<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cloud Connect</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url('{{ url_for('static', filename='background.jpg') }}');
            background-size: cover;
            background-position: center;
        }
        img {
            max-width: 100%;
            max-height: 100%;
        }
    </style>
</head>
<body>
    <img src="{{ url_for('static', filename=image_url) }}" alt="Dynamic Image">
</body>
</html>
